//! **************************************************************************
// Written by: Map P.20131013 on Fri May 06 01:42:35 2016
//! **************************************************************************

SCHEMATIC START;
COMP "SW0" LOCATE = SITE "G18" LEVEL 1;
COMP "SW1" LOCATE = SITE "H18" LEVEL 1;
COMP "SW2" LOCATE = SITE "K18" LEVEL 1;
COMP "SW3" LOCATE = SITE "K17" LEVEL 1;
COMP "SW4" LOCATE = SITE "L14" LEVEL 1;
COMP "SW5" LOCATE = SITE "L13" LEVEL 1;
COMP "SW6" LOCATE = SITE "N17" LEVEL 1;
COMP "SW7" LOCATE = SITE "R17" LEVEL 1;
COMP "RxD" LOCATE = SITE "U6" LEVEL 1;
COMP "TxD" LOCATE = SITE "P9" LEVEL 1;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "L<0>" LOCATE = SITE "J14" LEVEL 1;
COMP "L<1>" LOCATE = SITE "J15" LEVEL 1;
COMP "L<2>" LOCATE = SITE "K15" LEVEL 1;
COMP "L<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "L<4>" LOCATE = SITE "E16" LEVEL 1;
COMP "L<5>" LOCATE = SITE "P16" LEVEL 1;
COMP "L<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "L<7>" LOCATE = SITE "P4" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" PERIOD = 20 ns HIGH 50%;
SCHEMATIC END;

